<a href="https://colab.research.google.com/github/aisutd/HackAI-Neural-Network-Workshop/blob/main/Star_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

# **INTRODUCTION TO NEURAL NETWORKS WITH KERAS**
Welcome to the implementation of a basic Keras Neural Network to classify star types.

This colab: [Link](https://colab.research.google.com/drive/1L2i3ibwby1nV83EBys2g5dpSDZA2MlAa?usp=sharing)
Dataset: [Link](https://www.kaggle.com/deepu1109/star-dataset)

---

##Basic Libraries

In [ ]:
import numpy as np
import pandas as pd

##Getting to know the data

In [ ]:
# https://www.kaggle.com/deepu1109/star-dataset
data = pd.read_csv("star_data.csv")
data.head()

# 7 columns
# 240 rows

   Temperature (K)  Luminosity(L/Lo)  ...  Star color  Spectral Class
0             3068          0.002400  ...         Red               M
1             3042          0.000500  ...         Red               M
2             2600          0.000300  ...         Red               M
3             2800          0.000200  ...         Red               M
4             1939          0.000138  ...         Red               M

[5 rows x 7 columns]

In [ ]:
# Basic stats on data
data.describe()

       Temperature (K)  Luminosity(L/Lo)  ...  Absolute magnitude(Mv)   Star type
count       240.000000        240.000000  ...              240.000000  240.000000
mean      10497.462500     107188.361635  ...                4.382396    2.500000
std        9552.425037     179432.244940  ...               10.532512    1.711394
min        1939.000000          0.000080  ...              -11.920000    0.000000
25%        3344.250000          0.000865  ...               -6.232500    1.000000
50%        5776.000000          0.070500  ...                8.313000    2.500000
75%       15055.500000     198050.000000  ...               13.697500    4.000000
max       40000.000000     849420.000000  ...               20.060000    5.000000

[8 rows x 5 columns]

In [ ]:
#data_columns = data.columns

## Data Cleaning

Check for null values and check dimensions

In [ ]:
print(data.isnull().sum())
print(data.shape)

Temperature (K)           0
Luminosity(L/Lo)          0
Radius(R/Ro)              0
Absolute magnitude(Mv)    0
Star type                 0
Star color                0
Spectral Class            0
dtype: int64
(240, 7)

In [ ]:
# Replace non-numerical data with numerical data
data.replace(["Orange", "Orange-Red", "Red", "Blue", "Blue ", "Blue White", "Blue white ", "Blue white", "Blue-white", "Blue-White", "White", "white", "Whitish", "White-Yellow", "Yellowish White", "Pale yellow orange", "yellow-white", "yellowish", "Yellowish"], [0, 1, 2, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 7, 8, 9, 8, 10, 10], inplace = True)
data.replace(["O", "B", "A", "F", "G", "K", "M"], [1, 2, 3, 4, 5, 6, 7], inplace = True)
data.head()

   Temperature (K)  Luminosity(L/Lo)  ...  Star color  Spectral Class
0             3068          0.002400  ...           2               7
1             3042          0.000500  ...           2               7
2             2600          0.000300  ...           2               7
3             2800          0.000200  ...           2               7
4             1939          0.000138  ...           2               7

[5 rows x 7 columns]

## Data Standardization

In [ ]:
# z-score standardization: https://www.analyticsvidhya.com/blog/2016/07/practical-guide-data-preprocessing-python-scikit-learn/
data['Temperature (K)'] = ((data['Temperature (K)'] - data['Temperature (K)'].mean()) / data['Temperature (K)'].std()).astype('float32')
data['Luminosity(L/Lo)'] = ((data['Luminosity(L/Lo)'] - data['Luminosity(L/Lo)'].mean()) / data['Luminosity(L/Lo)'].std()).astype('float32')
data['Radius(R/Ro)'] = ((data['Radius(R/Ro)'] - data['Radius(R/Ro)'].mean()) / data['Radius(R/Ro)'].std()).astype('float32')
data['Absolute magnitude(Mv)'] = ((data['Absolute magnitude(Mv)'] - data['Absolute magnitude(Mv)'].mean()) / data['Absolute magnitude(Mv)'].std()).astype('float32')
data.head()

   Temperature (K)  Luminosity(L/Lo)  ...  Star color  Spectral Class
0        -0.777757         -0.597375  ...           2               7
1        -0.780479         -0.597375  ...           2               7
2        -0.826750         -0.597375  ...           2               7
3        -0.805812         -0.597375  ...           2               7
4        -0.895947         -0.597375  ...           2               7

[5 rows x 7 columns]

In [ ]:
# Number of features (columns)
num_features = data.shape[1]
num_features

7

## Data Splitting

In [ ]:
# Feeding to the model
data_model = data.sample(frac = 0.9)

# Testing the model
data_predict = data.drop(data_model.index)

# Split into x and y (input and output)
data_predict_x = np.array(data_predict.drop(['Star type'],1))
data_predict_y = np.array(data_predict['Star type'])

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split
# Main x and y (for the model)
x = np.array(data_model.drop(['Star type'],1))
y = np.array(data_model['Star type'])
# Split into 4 buckets for training and testing
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2)

In [ ]:
from keras.utils import to_categorical
import tensorflow as tf
# Convert to tensor (may not be needed in your case)
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

x_train = tf.convert_to_tensor(x_train, dtype=tf.float32)
y_train = tf.convert_to_tensor(y_train, dtype=tf.float32)

## Model Creation

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
# define classification model
def classification_model():
    # create model
    model = Sequential()
    model.add(Dense(num_features, activation='relu', input_shape=(6,)))
    model.add(Dense(128, activation='relu'))
    model.add(Dense(6, activation='softmax'))
    # compile model
    model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    return model

## Training Model

In [ ]:
# build the model
model = classification_model()

# fit the model
model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=50)

# evaluate the model
scores = model.evaluate(x_test, y_test)

print('Accuracy: {}% \n Error: {}'.format(scores[1]*100, 1 - scores[1]))

Epoch 1/50
6/6 [==============================] - 1s 41ms/step - loss: 1.9867 - accuracy: 0.1759 - val_loss: 1.7333 - val_accuracy: 0.3409
Epoch 2/50
6/6 [==============================] - 0s 12ms/step - loss: 1.7153 - accuracy: 0.3406 - val_loss: 1.6406 - val_accuracy: 0.2727
Epoch 3/50
6/6 [==============================] - 0s 10ms/step - loss: 1.5752 - accuracy: 0.4704 - val_loss: 1.5746 - val_accuracy: 0.5455
Epoch 4/50
6/6 [==============================] - 0s 8ms/step - loss: 1.4919 - accuracy: 0.6280 - val_loss: 1.4835 - val_accuracy: 0.5455
Epoch 5/50
6/6 [==============================] - 0s 8ms/step - loss: 1.4253 - accuracy: 0.5930 - val_loss: 1.3787 - val_accuracy: 0.5455
Epoch 6/50
6/6 [==============================] - 0s 9ms/step - loss: 1.3266 - accuracy: 0.6199 - val_loss: 1.2936 - val_accuracy: 0.5455
Epoch 7/50
6/6 [==============================] - 0s 10ms/step - loss: 1.2427 - accuracy: 0.6337 - val_loss: 1.2193 - val_accuracy: 0.5455
Epoch 8/50
6/6 [==============================] - 0s 9ms/step - loss: 1.1982 - accuracy: 0.6642 - val_loss: 1.1530 - val_accuracy: 0.6364
Epoch 9/50
6/6 [==============================] - 0s 10ms/step - loss: 1.1119 - accuracy: 0.7673 - val_loss: 1.1130 - val_accuracy: 0.7045
Epoch 10/50
6/6 [==============================] - 0s 9ms/step - loss: 1.0526 - accuracy: 0.8037 - val_loss: 1.0632 - val_accuracy: 0.7045
Epoch 11/50
6/6 [==============================] - 0s 9ms/step - loss: 0.9928 - accuracy: 0.8016 - val_loss: 1.0128 - val_accuracy: 0.7045
Epoch 12/50
6/6 [==============================] - 0s 9ms/step - loss: 0.9240 - accuracy: 0.8555 - val_loss: 0.9614 - val_accuracy: 0.7045
Epoch 13/50
6/6 [==============================] - 0s 9ms/step - loss: 0.8739 - accuracy: 0.8506 - val_loss: 0.9108 - val_accuracy: 0.7045
Epoch 14/50
6/6 [==============================] - 0s 9ms/step - loss: 0.8321 - accuracy: 0.8160 - val_loss: 0.8453 - val_accuracy: 0.7727
Epoch 15/50
6/6 [==============================] - 0s 9ms/step - loss: 0.7864 - accuracy: 0.9113 - val_loss: 0.8017 - val_accuracy: 0.8864
Epoch 16/50
6/6 [==============================] - 0s 9ms/step - loss: 0.7423 - accuracy: 0.8562 - val_loss: 0.7750 - val_accuracy: 0.6818
Epoch 17/50
6/6 [==============================] - 0s 9ms/step - loss: 0.7053 - accuracy: 0.8519 - val_loss: 0.7535 - val_accuracy: 0.7273
Epoch 18/50
6/6 [==============================] - 0s 9ms/step - loss: 0.6667 - accuracy: 0.8268 - val_loss: 0.7051 - val_accuracy: 0.7955
Epoch 19/50
6/6 [==============================] - 0s 9ms/step - loss: 0.6084 - accuracy: 0.8873 - val_loss: 0.6634 - val_accuracy: 0.9545
Epoch 20/50
6/6 [==============================] - 0s 10ms/step - loss: 0.5710 - accuracy: 0.9317 - val_loss: 0.6280 - val_accuracy: 0.9318
Epoch 21/50
6/6 [==============================] - 0s 10ms/step - loss: 0.5655 - accuracy: 0.9115 - val_loss: 0.6231 - val_accuracy: 0.7273
Epoch 22/50
6/6 [==============================] - 0s 9ms/step - loss: 0.5450 - accuracy: 0.8417 - val_loss: 0.5780 - val_accuracy: 0.8864
Epoch 23/50
6/6 [==============================] - 0s 9ms/step - loss: 0.5232 - accuracy: 0.8758 - val_loss: 0.5612 - val_accuracy: 0.8182
Epoch 24/50
6/6 [==============================] - 0s 9ms/step - loss: 0.4894 - accuracy: 0.8820 - val_loss: 0.5437 - val_accuracy: 0.7500
Epoch 25/50
6/6 [==============================] - 0s 9ms/step - loss: 0.4638 - accuracy: 0.8990 - val_loss: 0.5140 - val_accuracy: 0.9545
Epoch 26/50
6/6 [==============================] - 0s 10ms/step - loss: 0.4336 - accuracy: 0.9692 - val_loss: 0.5031 - val_accuracy: 0.9091
Epoch 27/50
6/6 [==============================] - 0s 9ms/step - loss: 0.4325 - accuracy: 0.8991 - val_loss: 0.4861 - val_accuracy: 0.9091
Epoch 28/50
6/6 [==============================] - 0s 9ms/step - loss: 0.4025 - accuracy: 0.9564 - val_loss: 0.4538 - val_accuracy: 0.9545
Epoch 29/50
6/6 [==============================] - 0s 9ms/step - loss: 0.3734 - accuracy: 0.9839 - val_loss: 0.4481 - val_accuracy: 0.9091
Epoch 30/50
6/6 [==============================] - 0s 9ms/step - loss: 0.3382 - accuracy: 0.9266 - val_loss: 0.4337 - val_accuracy: 0.8409
Epoch 31/50
6/6 [==============================] - 0s 9ms/step - loss: 0.3632 - accuracy: 0.9233 - val_loss: 0.4074 - val_accuracy: 0.9091
Epoch 32/50
6/6 [==============================] - 0s 10ms/step - loss: 0.3397 - accuracy: 0.9520 - val_loss: 0.3900 - val_accuracy: 0.9091
Epoch 33/50
6/6 [==============================] - 0s 11ms/step - loss: 0.3236 - accuracy: 0.9766 - val_loss: 0.3797 - val_accuracy: 0.9091
Epoch 34/50
6/6 [==============================] - 0s 9ms/step - loss: 0.3087 - accuracy: 0.9555 - val_loss: 0.3662 - val_accuracy: 0.9318
Epoch 35/50
6/6 [==============================] - 0s 9ms/step - loss: 0.3061 - accuracy: 0.9727 - val_loss: 0.3531 - val_accuracy: 0.9545
Epoch 36/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2930 - accuracy: 0.9649 - val_loss: 0.3448 - val_accuracy: 0.9318
Epoch 37/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2807 - accuracy: 0.9569 - val_loss: 0.3329 - val_accuracy: 0.9091
Epoch 38/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2816 - accuracy: 0.9801 - val_loss: 0.3169 - val_accuracy: 0.9545
Epoch 39/50
6/6 [==============================] - 0s 10ms/step - loss: 0.2559 - accuracy: 0.9926 - val_loss: 0.3076 - val_accuracy: 0.9318
Epoch 40/50
6/6 [==============================] - 0s 11ms/step - loss: 0.2649 - accuracy: 0.9718 - val_loss: 0.3052 - val_accuracy: 0.9091
Epoch 41/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2458 - accuracy: 0.9711 - val_loss: 0.2821 - val_accuracy: 0.9545
Epoch 42/50
6/6 [==============================] - 0s 8ms/step - loss: 0.2399 - accuracy: 0.9912 - val_loss: 0.2838 - val_accuracy: 0.9318
Epoch 43/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2361 - accuracy: 0.9856 - val_loss: 0.2719 - val_accuracy: 0.9318
Epoch 44/50
6/6 [==============================] - 0s 8ms/step - loss: 0.2236 - accuracy: 0.9657 - val_loss: 0.2783 - val_accuracy: 0.9091
Epoch 45/50
6/6 [==============================] - 0s 8ms/step - loss: 0.2194 - accuracy: 0.9652 - val_loss: 0.2526 - val_accuracy: 0.9545
Epoch 46/50
6/6 [==============================] - 0s 8ms/step - loss: 0.2072 - accuracy: 0.9963 - val_loss: 0.2424 - val_accuracy: 0.9545
Epoch 47/50
6/6 [==============================] - 0s 8ms/step - loss: 0.1946 - accuracy: 0.9926 - val_loss: 0.2395 - val_accuracy: 0.9773
Epoch 48/50
6/6 [==============================] - 0s 9ms/step - loss: 0.2038 - accuracy: 0.9886 - val_loss: 0.2371 - val_accuracy: 0.9545
Epoch 49/50
6/6 [==============================] - 0s 9ms/step - loss: 0.1936 - accuracy: 0.9849 - val_loss: 0.2276 - val_accuracy: 0.9545
Epoch 50/50
6/6 [==============================] - 0s 10ms/step - loss: 0.1996 - accuracy: 0.9926 - val_loss: 0.2174 - val_accuracy: 0.9773
2/2 [==============================] - 0s 5ms/step - loss: 0.2174 - accuracy: 0.9773
Accuracy: 97.72727489471436%
 Error: 0.022727251052856445

## Evaluating Model

In [ ]:
# 0 -> Brown Dwarf 1-> Red Dwarf 2 -> White Dwarf 3-> Main Sequence 4 -> Supergiant 5 -> Hypergiant
result = ["Brown Dwarf", "Red Dwarf", "White Dwarf", "Main Sequence", "Supergiant", "Hypergiant"]
predicted = model.predict(data_predict_x)
for i in range(len(data_predict_y)):
  print("Actual:", result[data_predict_y[i]], "Predicted:", result[np.argmax(predicted[i])],"\n")

Actual: Brown Dwarf Predicted: Brown Dwarf

Actual: Red Dwarf Predicted: Red Dwarf

Actual: White Dwarf Predicted: White Dwarf

Actual: Main Sequence Predicted: Main Sequence

Actual: Supergiant Predicted: Supergiant

Actual: Brown Dwarf Predicted: Brown Dwarf

Actual: Red Dwarf Predicted: Red Dwarf

Actual: White Dwarf Predicted: White Dwarf

Actual: White Dwarf Predicted: White Dwarf

Actual: Main Sequence Predicted: Red Dwarf

Actual: Supergiant Predicted: Supergiant

Actual: Supergiant Predicted: Supergiant

Actual: Hypergiant Predicted: Hypergiant

Actual: Brown Dwarf Predicted: Brown Dwarf

Actual: Red Dwarf Predicted: Red Dwarf

Actual: White Dwarf Predicted: White Dwarf

Actual: Supergiant Predicted: Supergiant

Actual: Brown Dwarf Predicted: Brown Dwarf

Actual: Brown Dwarf Predicted: Brown Dwarf

Actual: Red Dwarf Predicted: Red Dwarf

Actual: White Dwarf Predicted: White Dwarf

Actual: Supergiant Predicted: Supergiant

Actual: Hypergiant Predicted: Hypergiant

Actual: Hypergiant Predicted: Hypergiant

In [ ]:
#print("Actual:", result[np.where(data_predict_y[i] == 1)[0][0]], "Predicted:", result[np.argmax(predicted[i])],"\n")